<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>MASK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap" rel="stylesheet">

    <link href="{% static 'noUiSlider/nouislider.css' %}" rel="stylesheet">


    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">

    <link rel="icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" >

  <script type="text/javascript">
    var user = '{{request.user}}' 

    function getToken(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
let csrftoken = getToken('csrftoken');


function getCookie(name){
  var cookieArr = document.cookie.split(';');

  for(var i = 0; i < cookieArr.length; i++)
  {
    var cookiePair = cookieArr[i].split("=");

    if (name == cookiePair[0].trim()) {
      return decodeURIComponent(cookiePair[1]);
    }
  }
  //retornar nullo si no se encuentra
  return null;
}
var cart = JSON.parse(getCookie('cart'))

if (cart == undefined)
{
  cart = {}
  document.cookie = 'cart=' + JSON.stringify(cart) + ";Max-Age=;domain=;path=/;SameSite=Strict; Secure";
}

  </script>

</head>
<body>

<div class="root">
  <nav class="navbarTop">

    <a class="brand" href="{% url 'inicio' %}">MASK</a>

    <a class="icoCart" href="{% url 'cart' %}">
        <i class="fas fa-shopping-cart"></i> CART <span id="cart-total"> ({{cartItems}}) </span>
    </a>

  </nav>
  
  <div class="body_content">
      {% block content %}

      {% endblock content %}
  </div>

  <!-- The actual snackbar -->
  <div id="snackbars"> </div>
  
  <footer>

    <div class="contact opt_hov">
      <i class="fas fa-envelope-square"></i>
      <span>sales@mask.com</span>
    </div>

    ©  <script>document.write(new Date().getFullYear())</script> MASK

    <div class="social">
      <i class="fab fa-facebook-square opt_hov"></i>
      <i class="fab fa-instagram-square opt_hov"></i>
      <i class="fab fa-twitter-square opt_hov"></i>
    </div>

  </footer>
</div>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>