* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration: none !important;
	box-sizing: unset;
}

html{
	position: relative;
	height: 100%;
	margin: 0;
}

body{
	display: flex;
	position: relative;
	margin: 0px;
	padding: 0px;
	padding-bottom: 70px;
	align-items: stretch;
	min-height: calc(100% - 70px);
}

.root{
	width: 100%;
	display: flex;
	flex-flow: column wrap;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.body_content{
	display: flex;
	min-height: calc(100% - 60px);
	flex-direction: column;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.hidden{
	display: none!important;
}

/**/

.navbarTop{
	width: 100%;
	position: relative;
	display: flex;
	background-color: #2a2a2a; 
	line-height: 60px;
	height: max-content;
}

.brand {
	width: 100%;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 30px;	
	letter-spacing: 15px;
	color: white;
	text-align: center;
	display: block;
}

.icoCart{
	position: absolute;
	display: flex;
	width: 120px;
	height: 100%;
	right: 0px;
	top: 0px;
	padding-right: 0px;
	justify-content: center;
	color: white;
	font-size: 13px;
	transition: 0.15s;
}

.icoCart i {
	font-size: 15px;
	line-height: inherit;
	margin-right: 5px;
}

#cart-total{
	line-height: inherit;
	margin-left: 5px;
}

.icoCart:hover{
	background-color: #414141;
	transition: 0.15s;
}

a:hover {
	color: white !important;
}

/**/

.footer-desktop {
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 10;
	display: flex;
	font-size: 16px;
	height: 70px;
	line-height: 70px;
	align-content: center;
	justify-content: center;
	border-top: 1px solid #ececec;
	background-color: #fff;
	color: rgb(121, 121, 121);
	margin: auto;
}

.footer-mobil {
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index: 10;
	display: none;
	font-size: 16px;
	height: 100px;
	line-height: 100px;
	align-content: center;
	justify-content: center;
	border-top: 1px solid #ececec;
	background-color: #fff;
	color: rgb(121, 121, 121);
	margin: auto;
}

.contact{
	position: absolute;
	display: flex;
	font-size: 30px;
	left: 0;
	margin-left: 20px;
	cursor:pointer;
}

.contact span {
	font-size: 16px;
	margin-left: 20px;
}

.contact i {
	margin:auto;
}


.opt_hov:hover{
	color: rgb(83, 83, 83)
}

.social{
	position: absolute;
	font-size: 30px;
	right: 0;
	margin-right: 20px;
}

.social i {
	margin: 0px 5px;
	cursor:pointer;
}
/**/

 /* The snackbar - position it at the bottom and in the middle of the screen */
 .snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 150px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    font-weight: bold;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 15; /* Add a z-index if needed */
    right: 10px; /* Center the snackbar */
    bottom: 75px; /* 30px from the bottom */
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  .snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
    animation: fadein 0.5s, fadeout 0.5s 1.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {right: -100px; opacity: 0;}
    to {right: 10px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {right: -100px; opacity: 0;}
    to {right: 10px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {right: 10px; opacity: 1;}
    to {right: -100px; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {right: 10px; opacity: 1;}
    to {right: -100px; opacity: 0;}
  } 

  @media screen and (max-width: 1024px)
  {
	.footer-desktop{
		display: flex;
	}
  
	.footer-mobil{
	  display: none;
  	}
  }
  
  @media screen and (max-width: 640px)
  {

	body{
		padding-bottom: 100px;
		min-height: calc(100% - 100px);
	}

	.navbarTop{
		line-height: 50px;
		position: fixed;
		z-index: 14;
	}

	.brand {
		font-size: 20px;	
	}

	.body_content{
		margin-top: 50px;
		min-height: calc(100% - 50px);
	}

	.footer-desktop{
		display: none;
	}
  
	.footer-mobil{
	  display: flex;
	  flex-direction: column;
	}
	  
	.social{
		width: 100%;
		position: relative;
		font-size: 30px;
		justify-content: space-evenly;
		display: flex;
		margin: auto;
	}

	.foo-txt{
		margin: auto;
		line-height: normal;
	}

  }